body {
  background: #000;
  overflow: hidden;
  margin: 0;
}

#nameBox {
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

}
#nameBox h1 {
  margin: 0 auto;
}